footer {
    bottom: 0;
    width: 100%;
    background-color: #344966;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
}
.socials {
    color: #EFF1F4; 
    text-align: center;
}
.card {
margin: 20px;
}
p {
    margin: 2em;
}
h1 {
    margin: 20px;
    border: solid 3px #344966;
    padding: 0.5em;
    border-radius: 0.5em;
}
h1 {
    margin: 0.25em;
}
.omoss {
    max-width: 45%;
    margin-left: 25%;
    margin-top: 2em;
    margin-bottom: 2em;
}
.social-links {
    color: #EFF1F4;
    max-width: 10%;
    flex: auto;
}
nav div.container-fluid{
    justify-content:left !IMPORTANT;
    flex-direction: row;
}
nav div.navbar-nav{ 
    flex-direction: row;
}
nav div.navbar-nav a{
    margin: 20px;
}
.logga-image {
    max-width: 18%;
    margin-top: 2em;
    margin-left: 2em;
}
.tc-logga {
    max-width: 10%;
    margin-top: 2em;
    align-items: center;
}
.bild-pa-mannsikor {
    align-items: center;
}
