footer {
    bottom: 0;
    width: 100%;
    background-color: #344966;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
}
.socials {
    color: #EFF1F4; 
}
.card {
margin: 20px;
}
.Prodiutext {
    text-align: center;
    border: 10px;
}

