footer {
    bottom: 0;
    width: 100%;
    background-color: #344966;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
}
.socials {
    color: #EFF1F4; 
}
.card {
margin: 20px;
}
p {
    margin: 2em;
}
h2 {
    margin: 20px;
    border: solid 3px #344966;
    padding: 0.5em;
    border-radius: 0.5em;
}
h1 {
    margin: 0.25em;
}
.omoss {
    max-width: 45%;
    margin-left: 22.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    align-self: center;
}
.social-links {
    color: #EFF1F4;
    max-width: 5%;
    flex: auto;
}
nav{
    border: 1px solid #000;
    position: left;
}
